.footer {
    background-color: black;
    color: white;
    height: 60px;
    img {
        width: 35px;
        margin-left: 15px;
        margin-top: 5px;
    }
}
.reserved {
    padding-top: 14px;
}