@mixin games($margin, $padding, $margin2, $width, $fontSize, $titleWidth) {
    .games {
        padding-left: $margin;
        padding-top: $padding;
        padding-bottom: $padding;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .last {
        padding-bottom: 40px;
    }
    .game {
        flex: 0 0 auto;
        margin-right: $margin2;
        cursor: pointer;
        h3 {
            max-width: $width;
            margin-top: 10px;
            font-size: $fontSize;
            margin-bottom: 5px;
            position: relative;
        }
        .newsTitle, .newsParagraph {
            max-width: $titleWidth;
        }
    }
}

@mixin thumbnail($width1, $height1, $width2, $height2) {
    .thumbnail {
        width: $width1;
        height: $height1;
        border-radius: 10px;
        opacity: 0;
    }
    .gamefiller {
        height: $height1;
    }
    .newsfiller {
        width: 18px;
        height: $height2;
    }
    .thumbnail_news {
        width: $width2;
        height: $height2;
        border-radius: 10px;
    }
}

@media screen and (min-width: 1280px) {
    @include games(50px, 20px, 32.5px, 210px, 150%, 371.7px);
    @include thumbnail(210px, 315px, 371.7px, 200px);
    .filler {
        width: 17.5px;
    }
    .games_new {
        padding: 50px 17.5px 50px 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) { 
    @include games(50px, 20px, 32.5px, 210px, 150%, 371.7px);
    @include thumbnail(210px, 315px, 371.7px, 200px);
    .filler {
        width: 17.5px;
    }
    .games_new {
        padding: 50px 17.5px 50px 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {  
    @include games(25px, 20px, 28px, 140px, 120%, 250px);
    @include thumbnail(140px, 210px, 250px, 150px);
    .filler {
        width: 3px;
    }
    .games_new {
        padding: 25px 17.5px 40px 25px;
    }
}

@media screen and (max-width: 399px) { 
    @include games(2.5%, 10px, 28px, 140px, 120%, 250px);
    @include thumbnail(140px, 210px, 250px, 150px);
    .filler {
        width: 0.1px;
    }
    .games_new {
        padding: 2.5% 17.5px 30px 2.5%;
    }
}