@mixin container_header {
    background-color: black;
    z-index: 2;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}

@mixin menu ($fontsize) {
    padding-top: 10px;
    font-size: $fontsize;
    display: flex;
    justify-content: space-between;
}

@mixin link {
    .menulink {
        text-decoration: none;
        color: white;
    }
    .selected {
        color: #ffcc34;
    }
}

@mixin smallmenu {
    z-index: 10;
    background-color: black;
    height: 230px;
    display: none;
    position: sticky;
    width: 100%;
    z-index: 99;
    top: 60px;
    @include link();
}

.header {
    background-color: black;
    color: white;
    height: 60px;
    position: sticky;
    z-index: 99;
    top: 0;
    @include link();
}

.logo {
    img {
        width: 170px;
        cursor: pointer;
    }
}

.menu_item {
    margin-left: 40px;
    cursor: pointer;
}

.smallmenu_item {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 150%;
}

@media screen and (min-width: 1280px) {
    .container_header {
        width: 1180px;
        @include container_header();
    }
    .menu {
        @include menu(120%);
        .burgericon {
            display: none;
        }
    }
    .smallmenu {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .container_header {
        width: calc(100% - 100px);
        @include container_header();
    }
    .menu {
        @include menu(100%);
        .burgericon {
            display: none;
        }
    }
    .smallmenu {
        display: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .container_header {
        width: calc(100% - 50px);
        @include container_header();
    }
    .menu {
        @include menu(100%);
        .burgericon {
            width: 40px;
        }
    }
    .smallmenu {
        @include smallmenu();
    }
    .menu_item {
        display: none;
    }
}

@media screen and (max-width: 399px) {
    .container_header {
        width: 95%;
        @include container_header();
    }
    .menu {
        @include menu(100%);
        .burgericon {
            width: 40px;
        }
    }
    .smallmenu {
        @include smallmenu();
    }
    .menu_item {
        display: none;
    }
}